:root {
    /* メインカラー */
    --main-color: #D6E4DA;
    /* サブカラー rgba(0, 58, 66)*/
    --sub-color: #003A42;
    /* ベースカラー */
    --base-color: #2E2E2E;
    /* アクセントカラー */
    --accent-color: #00AF98;
    /* rgba(245, 252, 246)*/
    --white-color: #F5FCF6;
}

/*===================== Scrollbar =====================*/
::-webkit-scrollbar {
    width: 0.2rem;
    background: rgba(40, 0, 0, 0.4);
}

::-webkit-scrollbar-track {
    box-shadow: 0 0 0px rgba(255, 255, 255, 0) inset;
    background: var(--white-color);
}

::-webkit-scrollbar-thumb {
    box-shadow: 0 0 2px 1px rgba(31, 30, 30, 0.76) inset;
    background: rgba(20, 20, 20);
}
/*===================== Scrollbar =====================*/

/*===================== head =====================*/
.head {
    position: absolute;
    top: 0.25%;
    left: 2%;
    z-index: 1;

    a {
        font-family: liana, script;
        font-weight: 500;
        font-size: clamp(1.4rem, calc(1.4rem + 0.1vw), 1.8rem);
        color: var(--base-color);
        padding: 0.25em 0.5em;

        span {
            font-size: clamp(1.2rem, calc(1.2rem + 0.1vw), 1.6rem);
        }
    }

}
/*===================== head =====================*/

body,header,footer,h1,h2,h3,h4,p,ul,ol,li,a,div,span,img {
    margin: 0;
    padding: 0;
}


/*===================== body text =====================*/
body {
    font-family: zen-maru-gothic, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--main-color);
    background-color: var(--base-color);
    position: relative;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    /*background-image: url('https://mizukioyama.github.io/pd/hp-img/section01-bg.png');
    background-attachment: fixed;*/
}

h1 {
    font-size: clamp(8rem, calc(8rem + 0.5vw), 10rem);
    font-family: liana, script;
    font-weight: 400;
    color: var(--base-color);
    line-height: 1em;
    width: fit-content;
}

h2 {
    font-size: clamp(4rem, calc(4rem + 0.5vw), 6rem);
    width: fit-content;
}

h3 {
    font-size: clamp(3rem, calc(3rem + 0.5vw), 4rem);
}

h2,
h3,
h4 {
    font-family: roca, sans-serif;
    font-weight: 300;
    color: var(--sub-color);
}

p {
    font-size: clamp(1.2rem, calc(1.2rem + 0.5vw), 1.4rem);
    width: fit-content;
    margin: 0 auto;
}

ol,
ul {
    font-size: clamp(1.4rem, calc(1.4rem + 0.5vw), 1.6rem);
    color: var(--base-color);
}

li {
    list-style: none;
}
/*===================== body text =====================*/

/*===================== リンク =====================*/
a {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: clamp(1.2rem, calc(1.2rem + 0.5vw), 1.6rem);
    color: var(--accent-color);
    width: fit-content;
    text-decoration: none;
    padding: 0.25em 0.5em;
    position: absolute;
    right: 10%;
    bottom: 3%;
    transition: all 0.3s ease;
}

a:hover {
    color: var(--sub-color);
}

a::before:hover {
    width: 200px;
}

a::before {
    content: "";
    display: block;
    width: 150px;
    height: fit-content;
    position: absolute;
    left: 0;
    bottom: 7px;
    border-bottom: 1px solid var(--accent-color);
}

a::after {
    content: "";
    display: block;
    position: absolute;
    right: -20%;
    bottom: 7px;
    width: 20px;
    border-top: 1px solid var(--accent-color);
    transform: rotate(30deg);
}

header a,
footer a,
section .top-s .note a {
    position: relative;
    right: 0;
    margin: 0;
}

header a::after,
header a::before,
footer a::after,
footer a::before,
section .top-s .note a::after,
section .top-s .note a::before {
    display: none;
}

section .top-s .note a:hover {
    text-decoration: underline;
}
/*===================== リンク =====================*/

/*===================== Section =====================*/
section {
    width: 100%;
    background: url('https://mizukioyama.github.io/pd/hp-img/section01-bg.png') no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    border-bottom: 15px solid var(--white-color);
}

section .section1 {
    background-image: url('https://mizukioyama.github.io/pd/hp-img/section02.png');
}

.background {
    width: 100%;
    /*background: url('https://mizukioyama.github.io/pd/hp-img/wave01.png') no-repeat center center;*/
    background-size: cover;
    background-color: #e5e5f7;
background-image:  linear-gradient(#444cf7 2.4000000000000004px, transparent 2.4000000000000004px), linear-gradient(90deg, #444cf7 2.4000000000000004px, transparent 2.4000000000000004px), linear-gradient(#444cf7 1.2000000000000002px, transparent 1.2000000000000002px), linear-gradient(90deg, #444cf7 1.2000000000000002px, #e5e5f7 1.2000000000000002px);
background-size: 60px 60px, 60px 60px, 12px 12px, 12px 12px;
background-position: -2.4000000000000004px -2.4000000000000004px, -2.4000000000000004px -2.4000000000000004px, -1.2000000000000002px -1.2000000000000002px, -1.2000000000000002px -1.2000000000000002px;
}

/*.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(255, 0, 0, 0.5) 0%, rgba(0, 0, 255, 0.5) 100%);
    z-index: 1;
}*/

.section3 .background::after,
.section4 .background::after {
    content: '';
    position: absolute;
    top: 80%;
    left: 80%;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(255, 0, 0, 0.5) 0%, rgba(0, 0, 255, 0.5) 100%), url('https://mizukioyama.github.io/pd/hp-img/wave02.png') no-repeat center center;
    background-size: cover;
    transform: rotate(-45deg); /* 斜めに配置 */
    opacity: 0.5;
}
.section4 .background::after {
    top: -80%;
}


/*===================== h1 top =====================*/
section .top-h1 {
    font-weight: 600;
    position: absolute;
    top: 45%;
    left: 4%;
    color: var(--base-color);
}

section .top-h1 .h1 {
    font-size: clamp(6rem, calc(6rem + 0.1vw), 8rem);
    margin-left: 70%;
}

section .top-h1 .caption {
    font-weight: 600;
    margin: 0;
}
/*===================== h1 top =====================*/

/*===================== section p =====================*/
section .top-s .text {
    font-weight: 600;
    margin: 0 0 5% 0;
    text-align: left;
}

section .top-s {
    max-width: 100%;
    width: clamp(750px, 100%, 550px);
    height: 450px;
    margin: 0 auto;
    padding: 1em 3.5em;
    z-index: 1;
    background: rgba(245, 252, 246, 0.7);
    position: relative;
    display: flex;
    flex-direction: column;
    /* 縦に並べる */
    justify-content: center;
    /* 縦方向の中央寄せ */
}

section .top-s h2 {
    margin-top: -5%;
}

section .top-s p {
    color: var(--base-color);
}

/*===================== section in-box =====================*/
section .box {
    position: relative;
    width: 1200px;
    height: 100vh;
    display: flex;
    align-items: center;
}

#tab-1 .top-s,
#tab-3 .top-s,
#tab-5 .top-s {
    transform: translate(40%, 25%);
}

#tab-2 .top-s {
    transform: translate(-40%, 25%);
}

/*.section2 p {
    margin: 0 auto;
    padding: 1em;
    border: 1px solid var(--base-color);
    display: flex;
    justify-content: center;
}*/

.section4 .top-s {
    width: clamp(800px, 100%, 650px);
    height: 600px;
    padding: 2em 4.5em;
    align-items: center;
}
.section4 .top-s::before {
    content: "";
    width: 30%;
    height: 0;
    border-style: solid;
    border-width: 160px 200px 0 200px;
    border-color: var(--main-color) transparent transparent transparent;
    position: absolute;
    top: -5%;
    z-index: -1;
    opacity: 0.4;
    /*background: repeating-linear-gradient(-215deg, rgba(0, 58, 66, 0.8), rgba(0, 58, 66, 0.55) 70px, rgba(0, 58, 66, 0.8) 0, rgba(0, 58, 66, 0.55) 70px);*/
}
.section4 h3 {
    font-size: clamp(4rem, calc(4rem + 0.5vw), 6rem);
    font-family: liana, script;
    font-weight: 400;
    line-height: 4.5rem;
}

#tab-4 .top-s .text {
    text-align: center;
    margin: 0 auto;
}
/*===================== Section =====================*/

/*===================== img =====================*/
img {
    max-width: 100%;
    width: 65%;
    height: auto;
    object-fit: cover;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 0.75rem;
    mix-blend-mode: color-burn;
    z-index: 0;
}

section #top-img {
    width: 75%;
    top: -10%;
    right: 0;
}

section img {
    position: absolute;
}

.section1 img,
.section2 img,
.section3 img,
.section4 img {
    width: 35%;
}

.section1 img {
    width: 30%;
    bottom: 3%;
    left: 3%;
    /*transform:rotate(-10deg);*/
}

.section2 img {
    width: 25%;
    bottom: 3%;
    right: 3%;
}

.section3 img {
    width: 25%;
    right: 0;
    bottom: 3%;
}


.section1 .img,
.section3 .img {
    content: "";
    width: clamp(700px, 100%, 400px);
    height: 500px;
    border: 3px solid var(--base-color);
    position: absolute;
    top: 15%;
    left: -10%;
    z-index: 1;
    background-image: url('https://mizukioyama.github.io/pd/hp-img/overall.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*box-shadow: inset 0 0 10px 0 var(--base-color);*/
    mix-blend-mode: color-burn;
    border-radius: 30px;
}

.section3 .img {
    width: clamp(700px, 100%, 600px);
    height: 500px;
    background-image: url('https://mizukioyama.github.io/pd/hp-img/skill02.png');
}

.section2 .img,
.section4 .img {
    content: "";
    width: clamp(650px, 100%, 500px);
    height: 450px;
    border: 3px solid var(--base-color);
    position: absolute;
    right: -8%;
    top: 20%;
    z-index: 1;
    background-image: url('https://mizukioyama.github.io/pd/hp-img/ai-service01.png');
    background-size: cover;
    background-repeat: no-repeat;
    mix-blend-mode: color-burn;
    border-radius: 30px;
}

.section4 .img {
    width: clamp(600px, 100%, 400px);
    height: 450px;
    background-image: url('https://mizukioyama.github.io/pd/hp-img/ai-service01.png');
}
