:root {
    --main-color: #D6E4DA; /* メインカラー */
    --sub-color: #003A42;  /* サブカラー */
    --base-color: #2E2E2E; /* ベースカラー */
    --accent-color: #00AF98; /* アクセントカラー */
}

body {
    background-color: var(--base-color);
    color: var(--main-color);
}

h1, h2, h3 {
    color: var(--sub-color);
}

a {
    color: var(--accent-color);
}
