/* カーソルを非表示にする */
* {
    cursor: none !important;
}

#cursor, #stalker {
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    z-index: 9999;
}

/* カーソルのスタイル */
#cursor {
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* 光沢のある効果 */
}

#stalker {
    width: 25px;
    height: 25px;
    border: 2px solid rgba(255, 255, 255);
    transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* 光沢のある効果 */
}

/* ホバー時のスタイル */
.cursor--hover {
    width: 50px !important;
    height: 50px !important;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* ホバー時の光沢のある効果 */
}
.stalker--hover {
    width: 60px !important;
    height: 60px !important;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* ホバー時の光沢のある効果 */
}
