    /*PC*/
    footer {
        position: relative;
        height: 300px;
        padding: 2em 3em 0;
        bottom: 0;
        background: var(--main-color);
        backdrop-filter: blur(30px);
        z-index: 100;
    }
    footer a {
        font-size: clamp(1.4rem, calc(1.4rem + 0.5vw), 1.8rem);
        display: block;
        margin-top: 0.5em;
        padding: 0.5rem;
    }
    footer div {
        margin-top: 3.5em;
    }
    footer a:hover {
        color: var(--base-color) !important;
        opacity: 0.95;
    }
    .foot {
        font-size: clamp(0.9rem, calc( 0.9rem + 0.5vw), 0.95rem);
        width: 100%;
        color: var(--main-color);
        background: var(--base-color);
        text-align: right;
        position: absolute;
        padding: 0.25em 3em;
        bottom: 0%;
        right: 0%;
    }

    /*security logo*/
    .grecaptcha-badge {
        visibility: hidden;
    }


    @media only screen and (max-width:600px) {
        footer {
            height: 350px;
            padding: 3em 2em 0;
            border-top: 1px solid;
        }
        footer div a {
            margin-top: 4em;
        }
        footer a:hover {
            opacity: 0.95;
        }
        .foot {
            font-size: clamp(0.8rem, calc( 0.8rem + 0.5vw), 0.9rem);
            padding: 0.25em 1em;
        }
    }