:root {

}

body {
    font-family: Arial, sans-serif;
    background: #2E2E2E;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

section {
    width: 100%;
    height: 100%;
}
.top {
    #section1 {
        background-image: url('https://mizukioyama.github.io/pd/hp-img/section01.png');
    }

    #section2 {
        background-image: url();
    }

    #section3 {
        background-image: url();
    }

    #section4 {
        background-image: url();
    }

    #section5 {
        background-image: url();
    }
}

.tabs {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 0;
    transform:rotate(90deg);
}

.tab-button {
    padding: 1em 2em;
    border: 1px solid #ccc;
    background: #003A42;
    cursor: pointer;
    margin: 0;
}

.tab-button.active {
    background: #D6E4DA;
    border-bottom: none;
}

.tab-content {
    display: none;
    padding: 20px;
    overflow-y: auto;
}

.tab-content.active {
    display: block;
}
